* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  margin: auto;
  position: relative;
}
.box {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}
.position {
  position: absolute;
}
.position1 {
  top: 20px;
  left: 20px;
}
.position2 {
  /* position: absolute; */
  top: 100px;
  left: 260px;
}
.position3 {
  /* position: absolute; */
  top: 280px;
  left: 20px;
}
